.popup__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0; left: 0; right: 0; bottom: 50vh;
    margin: auto;
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 2;
    opacity: 100%;
}

@media screen and (max-width: 1024px) {   
    .popup__container {
        width: 282px;
        height: 322px;
        bottom: 50vh;
        left: 0; right: 0; 
        margin-top: 123px;
    }
}