.popup__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 195px;
    top: 0; left: 0; right: 0; bottom: 50vh;
    width: 430px;
    min-height: 330px;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 2;
    opacity: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {   
    .popup__container {
        width: 282px;
        min-height: 322px;
        bottom: 50vh; 
        margin-top: 123px;
    }
}